<!--includeing header section from the header.ejs-->
<%- include partials/header.ejs %>
<!--includeing main naviation section from the main_nav.ejs-->
<%- include partials/main_nav.ejs %>

  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> Page</h1>       
       <%- include partials/home_info.ejs %>
    </div>
   
  </main>


<!--includeing bottom naviation section from the bottom_nav.ejs-->
<%- include partials/bottom_nav.ejs %>
<!--includeing footer section from the footer.ejs-->
<%- include partials/footer.ejs %>
