<!--Salvia Rahman; Student ID; 301114183-->

<!--includeing header section from the header.ejs-->
<%- include partials/header.ejs %>
<!--includeing main naviation section from the main_nav.ejs-->
<%- include partials/main_nav.ejs %>

  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> Page</h1>       
       <div align="center">
      <h2 class="display-4"><b>Salvia Rahman</b></h2>
      <p><h4>COMP229-005-Web Application Development</h4></p>
      <p><h5>Mission Statement: Acquire Knowledge and Skills on Technology and Utilize them in Professional Career.</h5></p>
      </div>
      <img src="/Assests/images/homepage.jpg" class="img-fluid"alt="Responsive image"><!--image location-->

    </div>
   
  </main>


<!--includeing bottom naviation section from the bottom_nav.ejs-->
<%- include partials/bottom_nav.ejs %>
<!--includeing footer section from the footer.ejs-->
<%- include partials/footer.ejs %>
