<!--Salvia Rahman; Student ID; 301114183-->

<!--includeing header section from the header.ejs-->
<%- include partials/header.ejs %>
<!--includeing main naviation section from the main_nav.ejs-->
<%- include partials/main_nav.ejs %>
  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> Page</h1>
      
      <!--include services information section from the services_info.ejs from partials-->
      <br><div class="container">
    <ul style="list-style-type:square">
        <li><b>General Programming Knowledge</b>
        <p class="text-justify">Knowledge in C#, Java, Python, bash scripting, CLI, 
        HTML5, CSS, SQL, and JavaScript.
        Developed a software application for BMI (Body Measurement Index) calculation</p>
        </li>
        <img src="/Assests/images/coding.jpg" alt="coding" class="img-thumbnail"> <br>
        
        <li><b>Web Development Skill</b>
           <p class="text-justify">Developed a website for a local real state agent and a restaurant. Hence, I can easily 
           help you to built a praimary webpage</p>
        </li>
        <img src="/Assests/images/webpage.png" alt="webpage" class="img-thumbnail"> 

    </ul>
</div>
    </div>
  </main>
<!--includeing bottom naviation section from the bottom_nav.ejs-->
<%- include partials/bottom_nav.ejs %>
<!--includeing footer section from the footer.ejs-->
<%- include partials/footer.ejs %>